<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Cod3rsGrowth" connectionString="Server=127.0.0.1,11433;Initial Catalog=Cod3rsGrowth;Persist Security Info=True;User ID=sa;Password=sap@1234"
        providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>